.calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}
button {
    background-color: rgb(202, 255, 248);
    color: rgb(57, 187, 174);
    font-weight: bolder;
    font-size: 50px;
}
.operator {
    background-color: rgb(194, 255, 255);
}
.all-clear {
    background-color: rgb(194, 255, 255);
}
.equal-sign {
    background-color: tomato;
    color: white;
    grid-column: 1 / 5;
}
