.calc-header {
    font-size: x-large;
    padding: 5%;
    background-color: teal;
    color: rgb(68, 233, 150);
}
.calc-screen {
    background-color: turquoise;
    font-size: 50px;
    text-align: right;
    width: 99%;
}
